body
{
    width:960px;
    font-family:helvetica, sans-serif;
    color:#777;
    margin:auto;
}

p
{
    width:40em;
}

a
{
    text-decoration:none;
    font-weight:bold;
}

#footer
{
    position:absolute;
    bottom:10px;
    font-size:smaller;
}

ol#stars
{
    margin:0;
    padding:0;
}

#stars li
{
    float:left;
    list-style:none;
    margin:0;
    padding:3px;
    margin:0;
}

#stars form
{
    display:inline;
    margin:0;
    padding:0;
}

form#reset_button
{
    clear:both;
}

table
{
    width:80%;
    border-collapse:collapse;
    border:3px solid #ccc;
}

th, td
{
    padding:0.5em;
    text-align:left;
    border:1px solid #ccc;
}

