{% macro draw_footer() %}

<div id="footer">

Sumo image taken from <a href="http://hireanillustrator.com/i/cory-thoman">Cory Thoman</a>.

</div><!-- closes div id="footer" -->

{% endmacro %}

{% macro draw_header(app_id) %}

<div id="fb-root"></div>

<script src="http://connect.facebook.net/en_US/all.js"></script>

<script>
FB.init({
    appId:{{ app_id }}, cookie:true,
    status:true, xfbml:true
});

// Force a reload when a login/logout happens.
FB.Event.subscribe('auth.login', function(response) {
        window.location.reload();
});

FB.Event.subscribe('auth.logout', function(response) {
        window.location.reload();
});

</script>

<div id="header">
<p><fb:login-button autologoutlink="true"></fb:login-button></p>
</div><!-- closes div id="header" -->

{% endmacro %}

{% macro new_chart_form() %}

<form action="/new-chart" method="POST">

<fieldset>
<legend>Make a new chart</legend>

<p>
<label for="title">Title</label><br />
<input id="title" type="text" name="title" value="title goes here" />

<p>
<label for="number-of-stars">Number of stars</label><br />
<select name="number-of-stars" id="number-of-stars">
{% for num in range(1, 11) %}
    <option>{{ num }}</option>
{% endfor %}<!-- closes for num in range(1, 11) -->
</select>
<div id="star-num-slider"></div>

<p>
<input type="submit" value="Make a new chart" />

</fieldset>

<input type="hidden" name="theme_id" value="-1" />

</form>

{% endmacro %}
