{% import 'macros.html' as m %}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://www.facebook.com/2008/fbml">

<head>

<title>Super Fun Chart Makes Boring Stuff Fun</title>

<link rel="stylesheet"
    type="text/css" href="/static/superfunchart.css" />

<script type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>

<script type="text/javascript"
    src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.js"></script>

<script src="http://connect.facebook.net/en_US/all.js"></script>

<script>
FB.init({
    appId:{{ app_id }}, cookie:true,
    status:true, xfbml:true
});
</script>

</head>

<body>

{{ m.draw_header(app_id) }}

<div id="content">

<h1>Super Fun Chart Makes Boring Stuff Fun</h1>

<h2>Background</h2>

<p>I'm a parent, and I use charts with stickers to motivate my
five-year-old son, Charlie.  Actually, he's five <strong>and a
half</strong>.

<p> Anyhow, the sticker charts work OK, but I often lose the piece of
paper or the stickers.  So I'm building <strong>Super Fun Chart</strong>
as a way to make a little bit more engaging chart experience.

<h2>How to use Super Fun Chart</h2>

<p>Use it to reward your children for positive behavior, like:

<ul>

<li>Staying in their room until the morning</li>
<li>Getting up and dressed in the morning on their own</li>
<li>Eating a good dinner</li>

</ul>

<p>
If your child just needs to eat four more bites, make a chart with four
stars, and after each bite, let your child push the button to mark the
progress.

<h2>Send me your ideas!</h2>

<p>Become a fan of superfunchart.com on facebook and write on the page
what you wish it did.  Here's some ideas that I may add add soon:

<ul>

<li>More themes, like ballerinas, dinosaurs, racecars, and cowboys and
cowgirls.</li>

<li>Sound effects.</li>

</ul>

</div><!-- closes div id="content" -->

<div id="footer">

</div><!-- closes div id="footer" -->

</body>

</html>
